- name: Compute tap device map
  ansible.builtin.command: >
    "{{ role_path }}/files/compute_tap_dev_map.sh"
    "{{ run_id }}"
    "{{ ((machines + builders)
          | selectattr('arch', 'equalto', ansible_facts['architecture'])
          | map(attribute='name')
          | join(' ')) }}"
  register: common_tap_dev_map_raw
  changed_when: false

- name: Set tap device map
  ansible.builtin.set_fact:
    common_tap_dev_map: "{{ common_tap_dev_map_raw.stdout | from_json }}"
