---
# tasks file for scap-open-test

- name: Fix the dns issues
  shell: |
    unlink /etc/resolv.conf && echo 'nameserver 1.1.1.1' > /etc/resolv.conf

- name: Create cmake output dir
  file:
    path: "{{ remote_repos_folder }}/repos/{{ repos['libs'].name }}/build"
    state: directory
    mode: "0755"

- name: Prepare cmake for repository (without modern probe)
  shell: |
    cmake -DUSE_BUNDLED_DEPS=ON -DBUILD_LIBSCAP_MODERN_BPF=OFF -DBUILD_LIBSCAP_GVISOR=OFF -DBUILD_BPF=true -DCREATE_TEST_TARGETS=OFF ..
  args:
    chdir: "{{ remote_repos_folder }}/repos/{{ repos['libs'].name }}/build"
  when: inventory_hostname in no_btf_support

- name: Prepare cmake for repository (with modern probe)
  shell: |
    cmake -DUSE_BUNDLED_DEPS=ON -DBUILD_LIBSCAP_MODERN_BPF=ON -DBUILD_LIBSCAP_GVISOR=OFF -DBUILD_BPF=true -DCREATE_TEST_TARGETS=OFF ..
  args:
    chdir: "{{ remote_repos_folder }}/repos/{{ repos['libs'].name }}/build"
  when: inventory_hostname not in no_btf_support

- name: Build kmod
  shell: |
    make driver -j {{ cpus }}
  args:
    chdir: "{{ remote_repos_folder }}/repos/{{ repos['libs'].name }}/build"

- name: Build scap-open
  shell: |
    make scap-open -j {{ cpus }}
  args:
    chdir: "{{ remote_repos_folder }}/repos/{{ repos['libs'].name }}/build"

- name: Unload the kernel module
  shell: |
    rmmod driver/scap.ko
  ignore_errors: True
  args:
    chdir: "{{ remote_repos_folder }}/repos/{{ repos['libs'].name }}/build"

- name: Load the kernel module
  shell: |
    insmod driver/scap.ko
  args:
    chdir: "{{ remote_repos_folder }}/repos/{{ repos['libs'].name }}/build"

- name: Run scap-open with kernel module
  shell: |
    ./libscap/examples/01-open/scap-open --num_events 50 --kmod
  args:
    chdir: "{{ remote_repos_folder }}/repos/{{ repos['libs'].name }}/build"

- name: Unload the kernel module
  shell: |
    rmmod driver/scap.ko
  args:
    chdir: "{{ remote_repos_folder }}/repos/{{ repos['libs'].name }}/build"

- name: Build bpf probe
  shell: |
    make bpf -j {{ cpus }}
  args:
    chdir: "{{ remote_repos_folder }}/repos/{{ repos['libs'].name }}/build"

- name: Run scap-open with bpf probe
  shell: |
    ./libscap/examples/01-open/scap-open --num_events 50 --bpf driver/bpf/probe.o
  args:
    chdir: "{{ remote_repos_folder }}/repos/{{ repos['libs'].name }}/build"

- name: Run scap-open with modern-probe
  shell: |
    ./libscap/examples/01-open/scap-open --num_events 50 --modern_bpf
  args:
    chdir: "{{ remote_repos_folder }}/repos/{{ repos['libs'].name }}/build"
  when: inventory_hostname not in no_btf_support
