---
# tasks file for drivers_test
- name: Setting output directory for results
  ansible.builtin.set_fact:
    output_dest_dir: "{{ output_dir }}/drivers-test-test/{{ inventory_hostname }}"

- name: Create output directory on localhost
  become: false
  delegate_to: localhost
  block:
    - name: Create output directory if it does not exist ({{ output_dir }})
      ansible.builtin.file:
        path: "{{ output_dest_dir }}"
        state: directory
        mode: '0755'

- name: Check Modern Bpf Support
  block:
    - name: Check modern-bpf support
      ansible.builtin.command:
        cmd: /tmp/scap-open --num_events 0 --modern_bpf
      register: result
      changed_when: false
  rescue:
    - name: Disable Modern Bpf support
      ansible.builtin.set_fact:
        modern_bpf_supported: false
      when: result.rc == 95

- name: Check Old Bpf Support
  block:
    - name: Enable old Bpf support
      ansible.builtin.set_fact:
        bpf_supported: true
      when: ansible_kernel is version(bpf_minimum_kver[ansible_architecture],'>=')

- name: Prepare the build directory
  block:
    - name: Create cmake output dir
      ansible.builtin.file:
        path: "{{ remote_repos_folder }}/repos/{{ repos['libs'].name }}/build"
        state: directory
        mode: "0766"
      register: cmake_result

    - name: Prepare cmake for repository
      ansible.builtin.command:
        cmd: >
             cmake
             -DUSE_BUNDLED_DEPS=ON
             -DBUILD_LIBSCAP_MODERN_BPF=OFF
             -DBUILD_LIBSCAP_GVISOR=OFF
             -DBUILD_BPF={{ bpf_supported }}
             -DCREATE_TEST_TARGETS=OFF
             ..
        chdir: "{{ remote_repos_folder }}/repos/{{ repos['libs'].name }}/build"
      changed_when: false
      register: cmake_result
  rescue:
    - name: Print error message to stdout --- build directory
      ansible.builtin.debug:
        var: cmake_result
  always:
    - name: Dump error message to file
      ansible.builtin.copy:
        content: "{{ cmake_result | to_nice_json }}"
        dest: "{{ output_dest_dir }}/cmake-configure.json"
        mode: '0755'
      delegate_to: localhost
      become: false

- name: Build and load the kernel module
  block:
    - name: Unload the kernel module
      ansible.builtin.command:
        cmd: rmmod driver/scap.ko
        chdir: "{{ remote_repos_folder }}/repos/{{ repos['libs'].name }}/build"
      failed_when: false
      changed_when: false

    - name: Build kmod
      ansible.builtin.command:
        cmd: make driver -j {{ cpus }}
        chdir: "{{ remote_repos_folder }}/repos/{{ repos['libs'].name }}/build"
      register: km_result
      changed_when: false

    - name: Load the kernel module
      ansible.builtin.command:
        cmd: insmod driver/scap.ko
        chdir: "{{ remote_repos_folder }}/repos/{{ repos['libs'].name }}/build"
      register: km_result
      changed_when: false
  rescue:
    - name: Print error message to stdout --- kernel module
      ansible.builtin.debug:
        var: km_result
  always:
    - name: Dump error message to file
      ansible.builtin.copy:
        content: "{{ km_result | to_nice_json }}"
        dest: "{{ output_dest_dir }}/kmod_build.json"
        mode: '0755'
      delegate_to: localhost
      become: false

- name: drivers_test + kernel module
  block:
    - name: Run drivers_test with kernel module
      ansible.builtin.command:
        cmd: /tmp/drivers_test -k
        chdir: "{{ remote_repos_folder }}/repos/{{ repos['libs'].name }}/build"
      register: result
      changed_when: false

    - name: Unload the kernel module
      ansible.builtin.command:
        cmd: rmmod driver/scap.ko
        chdir: "{{ remote_repos_folder }}/repos/{{ repos['libs'].name }}/build"
      register: result
      changed_when: false
  rescue:
    - name: Print error message to stdout -- drivers_test + kernel module
      ansible.builtin.debug:
        var: result
  always:
    - name: Dump error message to file
      ansible.builtin.copy:
        content: "{{ result | to_nice_json }}"
        dest: "{{ output_dest_dir }}/kmod_drivers_test.json"
        mode: '0755'
      delegate_to: localhost
      become: false

- name: Build bpf probe
  block:
    - name: Build bpf probe
      ansible.builtin.command:
        cmd: make bpf -j {{ cpus }}
        chdir: "{{ remote_repos_folder }}/repos/{{ repos['libs'].name }}/build"
      register: bpf_probe_result
      when: bpf_supported
      changed_when: false
  rescue:
    - name: Print error message to stdout --- build bpf probe
      ansible.builtin.debug:
        var: bpf_probe_result
  always:
    - name: Dump error message to file
      ansible.builtin.copy:
        content: "{{ bpf_probe_result | to_nice_json }}"
        dest: "{{ output_dest_dir }}/bpf-probe_build.json"
        mode: '0755'
      delegate_to: localhost
      become: false

- name: drivers_test + bpf probe
  block:
    - name: Run drivers_test with bpf probe
      ansible.builtin.command:
        cmd: /tmp/drivers_test -b driver/bpf/probe.o
        chdir: "{{ remote_repos_folder }}/repos/{{ repos['libs'].name }}/build"
      register: result
      when: bpf_supported
      changed_when: false
  rescue:
    - name: Print error message to stdout --- drivers_test + bpf probe
      ansible.builtin.debug:
        var: result
  always:
    - name: Dump error message to file
      ansible.builtin.copy:
        content: "{{ result | to_nice_json }}"
        dest: "{{ output_dest_dir }}/bpf-probe_drivers_test.json"
        mode: '0755'
      delegate_to: localhost
      become: false

- name: drivers_test + modern probe
  block:
    - name: Run drivers_test with modern-probe
      ansible.builtin.command:
        cmd: /tmp/drivers_test -m
        chdir: "{{ remote_repos_folder }}/repos/{{ repos['libs'].name }}/build"
      register: result
      when: modern_bpf_supported
      changed_when: false
  rescue:
    - name: Print error message to stdout --- drivers_test + modern probe
      ansible.builtin.debug:
        var: result
  always:
    - name: Dump error message to file
      ansible.builtin.copy:
        content: "{{ result | to_nice_json }}"
        dest: "{{ output_dest_dir }}/modern-bpf_drivers_test.json"
        mode: '0755'
      delegate_to: localhost
      become: false
