---
# tasks file for clean-up
# this role removes the cluster and the files created by the bootstrap role

# We search all the machines created for this run_id.
# We make sure that all machines are stopped and then delete them.
- name: Stop running machines and delete them
  become: true
  block:
    - name: Stop running machines run_id={{ run_id }}
      vars:
        vm_socket: "/tmp/{{ run_id }}-{{ item.name }}.sock"
      ansible.builtin.uri:
        url: "http://localhost/actions"
        method: PUT
        body: '{"action_type":"SendCtrlAltDel"}'
        body_format: json
        headers:
          Content-Type: "application/json"
        unix_socket: "{{ vm_socket }}"
      loop: "{{ machines | union(builders) }}"
      when: item.arch == ansible_facts["architecture"]
      changed_when: true
      failed_when: false

    - name: Wait for all machines to stop run_id={{ run_id }}
      ansible.builtin.command: pgrep -f "firecracker.*--id .*{{ run_id }}"
      register: clean_up_pgrep_result
      failed_when: false
      changed_when: false
      until: clean_up_pgrep_result.rc != 0
      retries: 10
      delay: 1

    - name: Force-kill remaining machines run_id={{ run_id }}
      ansible.builtin.command: pkill -KILL -f "firecracker.*--id .*{{ run_id }}"
      register: clean_up_pkill_result
      failed_when: false
      changed_when: clean_up_pkill_result.rc == 0
      when: clean_up_pgrep_result.rc == 0

    - name: Delete unix socket files created by machines run_id={{ run_id }}
      ansible.builtin.file:
        path: "/tmp/{{ run_id }}-{{ item.name }}.sock"
        state: absent
      loop: "{{ machines | union(builders) }}"
      when: item.arch == ansible_facts["architecture"]

- name: Remove the run files directory
  ansible.builtin.file:
    path: "{{ runtime_root }}/{{ run_id }}"
    state: absent

- name: Remove the inventory.ini file
  ansible.builtin.file:
    path: "./inventory.ini"
    state: absent

- name: Remove ansible output folder
  ansible.builtin.file:
    path: "{{ output_dir }}"
    state: absent

- name: Run common/tasks/compute_tap_dev_map.yml
  ansible.builtin.import_role:
    name: common
    tasks_from: compute_tap_dev_map

- name: Stop all running dnsmasq-tap systemd services
  become: true
  block:
    - name: Stop dnsmasq-tap systemd services
      ansible.builtin.systemd:
        name: "dnsmasq-tap@{{ item.name }}:{{ item.host_ip }}:{{ item.guest_ip }}"
        state: stopped
      loop: "{{ common_tap_dev_map.values() }}"

    - name: Remove all dnsmasq-tap DHCP lease files
      ansible.builtin.file:
        path: "/run/dnsmasq-tap-{{ item.name }}.leases"
        state: absent
      loop: "{{ common_tap_dev_map.values() }}"

- name: Remove tap interfaces
  ansible.builtin.command: ip link del "{{ item.name }}"
  loop: "{{ common_tap_dev_map.values() }}"
  failed_when: false
  changed_when: false
  become: true

- name: Remove machines from known_hosts
  ansible.builtin.known_hosts:
    path: "{{ ssh_key_path }}/known_hosts"
    name: "{{ item.host_ip }}"
    state: absent
  loop: "{{ common_tap_dev_map.values() }}"
  become: true
