name: ansible-lint
on:
  pull_request:


jobs:
  build:
    name: Ansible Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Run ansible-lint
        uses: ansible/ansible-lint@36075fad72d67ca74facfb2e5436a2428a4b5d5d # v25.12.0
        with:
          working_directory: "${{ github.workspace }}/ansible-playbooks"
          requirements_file: "${{ github.workspace }}/requirements.yml"
