name: ansible-lint
on:
  pull_request:


jobs:
  build:
    name: Ansible Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Run ansible-lint
        uses: ansible/ansible-lint@a2bc8b8b13a80802215856c56823d85007d3baf5 # v25.12.2
        with:
          working_directory: "${{ github.workspace }}/ansible-playbooks"
          requirements_file: "${{ github.workspace }}/requirements.yml"
