name: ansible-lint
on:
  pull_request:


jobs:
  build:
    name: Ansible Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0

      - name: Run ansible-lint
        uses: ansible/ansible-lint@36075fad72d67ca74facfb2e5436a2428a4b5d5d # v25.12.0
        with:
          working_directory: "${{ github.workspace }}/ansible-playbooks"
          requirements_file: "${{ github.workspace }}/requirements.yml"
