name: PR CI
on:
  pull_request:
    branches:
      - main
    paths:
      - 'images/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build-images:
    uses: ./.github/workflows/reusable_build_images.yml
    with:
      push: false
      is_latest: false
      version: '${{ github.run_id }}'
    secrets: inherit
